@import url("https://rsms.me/inter/inter.css");

:root {
  --color-gray: #737888;
  --color-lighter-gray: #e3e5ed;
  --color-light-gray: #f7f7fa;
}


@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}



.containers .forms h1 {
  margin-bottom: 1rem;
    
}

.forms p {
  color: var(--color-gray);
  
}
.shippingHead{
    color: blue     ;
    text-transform: uppercase;
}
.containers .forms hr {
  height: 1px;
  width: 100%;
  background-color: var(--color-light-gray);
  border: 0;
  margin: 2rem 0;
}

.containers {
  max-width: 40rem;
   text-align: center;
  margin: 0 auto;margin-top: 30px;

}

.forms {
  display: grid;
  grid-gap: 1rem;
  text-align: left;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-lighter-gray);
  padding: .5rem;
  border-radius: .25rem;
}

.field__label {
  color: var(--color-gray);
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem

}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1.4rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.field:focus-within {
  border-color: #000;
}

.containers .forms{
    transform: none;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}
.fields--2 {
  grid-template-columns: 1fr 1fr;
}
.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}


.button {
  background-color: blue;
  text-transform    : uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.button:focus-visible {
  background-color: #333;
}